<section id = "blogs" class = "py-5">
    <div class = "container">
        <div class = "title text-center py-5">
            <h2>Newsletters</h2>
        </div>

        <div class = "row g-3">
            <div class = "card border-0 col-md-6 col-lg-4 bg-transparent my-3">
                <img src = "images/news/BlackCommitment.png" alt = "">
                <div class = "card-body px-0">
                    <h4 class = "card-title">NIKE, Inc. Announces Its 2022 Black Community Commitment Grantees</h4>
                    <p class = "card-text mt-3 text-muted">“NIKE, Inc.’s purpose is to move the world forward, breaking barriers and building community to change the game for all,” says Karol Collymore, Senior Director of Inclusive Community for Social & Community Impact. “Our Black Community Commitment embodies this belief and drives how we are showing up to advance racial equality for Black people.”</p>
                    <p class = "card-text">
                        <small class = "text-muted">
                            <span class = "fw-bold">Author: </span> Nike News
                        </small>
                    </p>
                    <a href = "https://news.nike.com/news/nike-inc-black-community-commitment-2022" class = "btn">Read More</a>
                </div>
            </div>

            <div class = "card border-0 col-md-6 col-lg-4 bg-transparent my-3">
                <img src = "images/news/adidasxgucci.jpg" alt = "">
                <div class = "card-body px-0">
                    <h4 class = "card-title">INTRODUCING ADIDAS X GUCCI</h4>
                    <p class = "card-text mt-3 text-muted">Gucci and adidas Originals confirm that they are joining forces in a new collaboration – adidas x Gucci – which combines the heritage and the creative codes of both brands.</p>
                    <p class = "card-text">
                        <small class = "text-muted">
                            <span class = "fw-bold">Author: </span> Adidas News
                        </small>
                    </p>
                    <a href = "https://news.adidas.com/originals/introducing-adidas-x-gucci/s/a6db647c-6974-4d5b-b8aa-45c56b189a87" class = "btn">Read More</a>
                </div>
            </div>

            <div class = "card border-0 col-md-6 col-lg-4 bg-transparent my-3">
                <img src = "images/news/newbalance.jpg" alt = "">
                <div class = "card-body px-0">
                    <h4 class = "card-title">NEW BALANCE AND KAWHI LEONARD OFFICIALLY UNVEIL NEW VERSION OF THE KAWHI SIGNATURE SHOE AT NBA ALL-STAR 2022</h4>
                    <p class = "card-text mt-3 text-muted">The New Balance KAWHI II, will make its on-court debut with the New Money colorway at the Ruffles NBA All-Star Celebrity Game worn by Grammy nominated musician and newly-named New Balance ambassador Jack Harlow with Kawhi wearing it during the NBA All-Star 75th Anniversary Ceremony on Sunday, February 20th. The New Balance KAWHI II comes packed with innovative features to help boost performance and a full assortment of apparel. </p>
                    <p class = "card-text">
                        <small class = "text-muted">
                            <span class = "fw-bold">Author: </span>New Balance Press Box
                        </small>
                    </p>
                    <a href = "https://newbalance.newsmarket.com/latest-news/all/new-balance-and-kawhi-leonard-officially-unveil-new-version-of-the-kawhi-signature-shoe-at-nba-all-s/s/a193035b-1adc-472a-ae6f-72e9edca78e3" class = "btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>